.container-reate-post {
  position: relative;
    // text-align: center;
    display: flex;
    justify-content: center;
    color: #f2f2f2;
    
    .create-post{
      box-shadow: 5px 5px 10px #202020, -5px -5px 10px #464646;
      position: relative;
      background: #e6e2e2;
      padding: 30px 20px ;
      margin-top: 25px;
      width: 35%;
      border-radius: 20px;
      color: black;

      .post-footer{
        display: flex;
        justify-content: space-between;
        input[type="file"]{
          opacity: 0;
        }
      }
      textarea {
      // color: white;
        font-size: 15px;
        width: 100%;
        margin-top: -48px;
        margin-bottom: 12px;
        padding: 50px;
        background: transparent;
        border: none;
        text-align: center;
        resize: none;
        // margin: -20px -40px
        &:focus{
          outline: none;
        }
      }
        
    }

    label {
     
      position: absolute;
      bottom: 40px;
      left: 25px;
      // width: 30px;
      font-weight: bold;
      // background: #ff7b77;
      border-radius: 5px;
      padding: 1px 15px ;
      z-index: 10;
      cursor: pointer;
    }
    // }

    .create-post-btn {
        // font-size: 14px;
        // font-weight: bold;
        background: transparent;
        border-style: none;
        padding: 8px;
        border-radius: 6px;
        cursor: pointer;
        &:hover{
            // transform: translateX(3px);
            transform: scale(1.1);
        }
    }

    
    
}

// @media screen and (max-width: 1250px) {
//   .post-footer button {
//     margin-top: 8px;
//     width: 300px;
  
//   }
  
// }
@media  screen and (max-width: 998px) {
  .container-reate-post  {
      .create-post {
        width: auto;
        margin: 10px 5px;
       
      }
    }
  }
  
  @media  screen and (max-width: 588px){
    textarea{
      position: relative;
      .create-post {
        color: black;

      }
    }

  }


