.container-header img{
    display: block;
}


.container-img {
    background: #4e5166;
    display: flex;
    justify-content: center;
    min-width: 385px;
    height: 150px;
    margin: 5px ;
    // border: 1px solid black;
    border-radius: 20px;
    box-shadow: 7px 7px 10px #202020, -7px -7px 12px #464646;
    // border-style: none;

    
    
}
@media only screen and (max-width: 700px) {
    .container-img{
        width: auto;
        // position: relative;
        
    }
}