.updateProfil{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
  h3{
    text-transform: uppercase;
  }
    

  .card{
      position: relative;
      background: #fff;
      width: 360px;
      height: 450px;
      padding: 5px;
      box-shadow: 5px 5px 10px #202020, -5px -5px 10px #464646;
      margin-top: 15px;
      margin-bottom: 20px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      // background-size: 40%, 80%;
      button{
        border-style: none;
        border-radius: 5px;
        position: absolute;
        margin-top: 3px;
        right: 16px;
        bottom: 26px;
        background: #ff7b77;
        font-weight: bold;
        padding: 5px;
        cursor: pointer;
        &:hover{
        transform: scale(1.06);
        
    }
      }
    
    }
    .img-wrap{
      // border: 1px solid rgb(255, 255, 255);
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 25px;
    }
    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    textarea{
      width: 200px;
      height: 90px;
      // text-align: center;
      margin: 40px;
      padding: 20px 20px;
      resize: none;
      border-radius: 15px;
      font-size: 14px;
      font-weight: bold;

      &:focus{
        outline: none;
      }
    }

    input[type="file"] {
        cursor: pointer;
        padding:  45px 0;
        margin: 40px 0;

        // @media screen and(max-width: 1121px) {
        //   opacity: 0;
        // }
    }

    label {
     
      text-align: center;
      font-size: 14px;
      position: absolute;
      bottom: 81px;
      right: 195px;
      // width: 110px;
      font-weight: bold;
      background: #ff7b77;
      border-radius: 10px;
      padding: 5px 5px 10px ;
      z-index: 10;
      cursor: pointer;
    }
}
@media  screen and (max-width: 588px){
  .updateProfil  h3{
    margin-top: -5px;
    
  }
}