//server MONGODB exemple
MDB_SECRET='mongodb+srv://<ID>:<PASSWORD>@cluster0.vg1g3zs.mongodb.net/Groupomania?retryWrites=true&w=majority

// Secret TOKEN exemple
TOKENKEY= "bd8d5952b663d8be555295a392d4eec9"