.mypost-div {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 40px auto;
    text-align: center;
    font-size: 12px;
    background-color: #f7f7fc;
    color: #525252;
    padding: 8px;
    border-radius: 10px;
  }