
h2{
    text-align: center;
    margin-top: 20px;
}
.update-container{
  position: relative;
    display: flex;
    justify-content: center;
    // background: #4e5166;
    // box-shadow: 7px 7px 10px #202020, -7px -7px 12px #464646;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    border-radius: 15px;
    

    .img-modify{
        border-radius: 25px;
        width: 30%;
        margin: 18px 0;
    }

    .create-post-btn {
        font-size: 14px;
        font-weight: bold;
        background: #ff7b77;
        border-style: none;
        padding: 10px;
        border-radius: 6px;
        margin: 15px;
        cursor: pointer;
        &:hover{
            transform: scale(1.03);
        }
    }
    textarea {
    // color: white;
      font-size: 15px;
      width: 55%;
      margin-top: -8px;
      margin-bottom: 12px;
      padding: 60px 0;
      background: transparent;
      border: 1px solid black;
      border-radius: 8px;
      text-align: center;
      resize: none;
      // margin: -20px -40px
      &:focus{
        outline: none;
      }
    }

    .create-post-input-file{
        padding: 15px;
        // color: #ff7b77;
    }
    label {
      position: absolute;
      margin-left: 30px;
      // width: 30px;
      font-weight: bold;
      border-radius: 5px;
      padding: 1px 15px ;
      z-index: 10;
      cursor: pointer;
    }

    input[type="file"] {
       opacity: 0;
      }



}